.home-container {
  display: flex;
  flex-direction: column;

  width: calc(100vw - 300px);
  min-height: 100%;
  padding: 100px 150px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1280px){

  .home-container {
    width: calc(100vw - 150px);
    padding: 100px 100px;
  }

}

@media only screen and (max-width: 768px) {

  .home-container{
    width: 100%;
    padding: 130px 50px;
  }

}