.about-container {
  width: 100%;

  display: grid;
  grid-template-columns: 60px 40px 1fr 1fr 1fr;
  grid-template-rows: 60px 40px 1fr 1fr;
  align-items: start;
  justify-items: center;
  gap: 5px;
}

.headshot-container {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  width: 100%; 
  height: 100%;

  border-radius: 50%;

  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-headshot {
  width: 90%; 
  height: 90%;
  border-radius: 50%;
  border: 1px solid black;
  
  object-fit: cover;
  filter: grayscale(0%) contrast(1) brightness(90%);

  /* grid-column: 1 / 3;
  grid-row: 1 / 3; */
}

.about-headshot::before {
  content: "";
  display: inline-block;
  position: relative;

  height: 120px;
  width: 120px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}

.about-stats-container {
  width: 100%;
  margin: 0px;
  padding: 0px;

  grid-column: 3 / 6;
  grid-row: 1 / 2;
}

.about-stat {
  width: 100%;  
  margin: 0px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;

  align-self: center;
}

.about-stat-quantity {
  font-size: 24px;
  font-weight: 600;
}

#campaigns {
  grid-column: 3 / 4;
}

#posts {
  grid-column: 4 / 5;
}

#impressions {
  grid-column: 5 / 6;
}

.follow-button {

  width: 100%;
  height: 100%;

  grid-column: 3 / 6;
  grid-row: 2 / 3;

  background-color: #319aeb;
  border: none;
  border-radius: 8px;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;

  text-align: center;
  text-decoration: none;
  text-decoration-line: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-bio-container {
  width: 100%;

  grid-column: 1 / 6;
  grid-row: 3 / 5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
}

.bio-title, .bio-subtitle, .bio-blurb, .bio-location {
  margin: 0px;
  margin-top: 5px;
}

.bio-title {
  font-weight: 600;
  margin-top: 15px;
}

.bio-subtitle {
  color: darkgray;
  font-weight: 400;
}

.bio-location {
  color: #367bd6;
  margin-bottom: 5px;
}

@media only screen and (max-width: 281px) {
  .about-stat-quantity {
    font-size: 14px;
  }

  .about-container {
    grid-template-columns: 40px 20px 1fr 1fr 1fr;
    grid-template-rows: 40px 20px 1fr 1fr;
    gap: 5px;
  }

  .follow-button {
    font-size: 14px;
    border-radius: 4px;
  }

  .bio-title, .bio-subtitle, .bio-blurb, .bio-location {
    font-size: 14px;
  }

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

  .about-container {
    grid-template-columns: 120px 40px 1fr 1fr 1fr;
    grid-template-rows: 120px 40px 1fr 1fr;
    gap: 15px;
  }

  .headshot-container {
    border: 3px solid black;
  }

  .about-headshot {
    border: 2px solid black;
  }

  .about-stat, .about-bio-container, .follow-button {
    font-size: 20px;
  }

  .about-stat-quantity {
    font-size: 30px;
  }

}

@media only screen and (min-width: 1024px) {
  .about-container {
    grid-template-columns: 200px 50px 1fr 1fr 1fr;
    grid-template-rows: 200px 50px 1fr 1fr;
    gap: 25px;
    margin-bottom: 25px;
  }

  .about-stat, .about-bio-container, .follow-button {
    font-size: 30px;
  }

  .about-stat-quantity { 
    font-size: 40px;
  }

  
}