.campaign-detail-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.campaign-detail-title, .campaign-detail-section-header {
  width: 100%;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  
  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  font-size: 36px;
  color: #555555;
  font-weight: bold;
  line-height: 1.4 !important;
  text-align: center;
}

.header-image {
  width: 100%;
  height: auto;
  padding-bottom: 50px;

  object-fit: contain;
}

.campaign-detail-body-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.campaign-detail-section-container {
  width: 100%;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#overview-section, #stats-section {
  margin-top: 0px;
  margin-bottom: 0px;
}

.campaign-stats-list {
  padding: 0px;
  list-style-position: inside;
}

.campaign-stat {
  margin-bottom: 25px;
}

.campaign-description, .campaign-stats-list, .influencer-name, .publisher-name, .similar-campaign-title {
  color: #555555;
  text-decoration-color: #555555;
  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  line-height: 1.7 !important;
  font-size: 20px;
  word-wrap: break-word;
}

#influencer-content-section, #press-section, #similar-campaigns-section {
  width: 100%;
}

#influencer-content-header {
  padding-bottom: 50px;
}

.influencer-name, .publisher-name, .similar-campaign-title {
  font-size: 14px;
}

.publisher-name {
  text-align: left;
}

.campaign-video-wrapper {
  padding-top: 2rem;

  overflow: hidden;
}

.horizontal-video {
  height: auto;
  width: 70vw;
  aspect-ratio: 16 / 9;
}

.vertical-video {
  width: auto;
  height: 50vh;
  aspect-ratio: 4 / 5;
}

.campaign-video {

  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* #sub-video {
  height: 760px;
} */

.influencer-content-container, .press-articles-container, .similar-campaigns-container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  justify-items: center;
  align-items: start;
}

.influencer-content-link, .press-link, .similar-campaign-card {
  width: 230px;

  text-align: center;
  text-decoration: underline;
  text-decoration-color: #555555;
}

.influencer-content-link:nth-child(4n), .press-article-link:nth-child(4n), .similar-campaign-card:nth-child(4n) {
  margin-right: 0px;
 }

.influencer-content-image, .publisher-image, .similar-campaign-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


@media only screen and (min-width: 360px) {
  .influencer-content-link, .press-link, .similar-campaign-card {
    width: 310px;;
  }

  .influencer-content-image, .publisher-image, .similar-campaign-image {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 375px) {

  .influencer-content-link, .press-link, .similar-campaign-card {
    width: 325px;
  }

}

@media only screen and (min-width: 390px) {
  .influencer-content-link, .press-link, .similar-campaign-card {
    width: 350px;
  }

  .influencer-content-image, .publisher-image, .similar-campaign-image {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 540px) {
  .influencer-content-container, .press-articles-container, .similar-campaigns-container {
    grid-template-columns: repeat(2, 200px);
    justify-content: space-around;
  }

  .influencer-content-link, .press-link, .similar-campaign-card {
    width: 225px;
  }

  .influencer-content-image, .publisher-image, .similar-campaign-image {
    width: 225px;
    height: 225px;
  }
}

@media only screen and (min-width: 590px) {

  .influencer-content-link, .press-link, .similar-campaign-card {
    width: 250px;
  }

  .influencer-content-image, .publisher-image, .similar-campaign-image {
    width: 250px;
    height: 250px;
  }

}

@media only screen and (min-width: 768px) {
  .campaign-detail-body-container {
    flex-direction: row;
  }

  .campaign-detail-section-container {
    width: 60%;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #stats-section {
    width: 30%;
  }

  .campaign-detail-section-header {
    text-align: left;
  }

  .influencer-content-container, .press-articles-container, .similar-campaigns-container {
    grid-template-columns: repeat(3, 200px);
  }

  .influencer-content-link, .press-link, .similar-campaign-card {
    width: 200px;
  }

  .influencer-content-image, .publisher-image, .similar-campaign-image {
    width: 200px;
    height: 200px;
  }
  

}

@media only screen and (min-width: 1024px) {

  .influencer-content-container, .press-articles-container, .similar-campaigns-container {
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
  }

}