.campaigns-by-category-container {
  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.campaigns-by-category-title {
  width: 100%;
  margin-bottom: 3rem;

  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  color: #555555;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4 !important;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .campaigns-by-category-container {
    padding: 1.5rem 3rem;
  }
}