.campaigns-by-category-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
}

.campaigns-by-category-title {
  width: 100%;
  /* height: 100px; */
  margin-bottom: 50px;

  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4 !important;
  text-align: center;
}