.campaign-detail-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.campaign-detail-title, .campaign-detail-section-header {
  color: #555555;
  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  line-height: 1.4 !important;
  font-size: 36px;
  font-weight: bold;

  width: 100%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.campaign-detail-title {
  text-align: center;
}

#influencer-content-header {
  padding-top: 36px;
  padding-bottom: 36px;
  /* padding-left: 2vw;
  padding-right: 2vw; */
}

.campaign-detail-body-container {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.campaign-detail-section-container {
  width: 60%;
  /* padding: 25px; */
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 2vw;
  padding-right: 2vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

#overview-section, #stats-section {
  margin-top: 0px;
  margin-bottom: 0px;
}

#stats-section {
  width: 30%;
}

#influencer-content-section, #press-section {
  width: 100%;
}

.campaign-description, .campaign-stats-list, .influencer-name, .publisher-name {
  color: #555555;
  text-decoration-color: #555555;
  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  line-height: 1.7 !important;
  font-size: 20px;
  word-wrap: break-word;
}

.campaign-stats-list {
  padding: 0px;
}

.campaign-stat {
  margin-bottom: 36px;
}

.influencer-name, .publisher-name {
  font-size: 14px;
}

.publisher-name {
  text-align: left;
}

.header-image {
  width: 100%;

  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 2vw;
  padding-right: 2vw;

  height: auto;
  object-fit: contain;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

#sub-video {
  height: 760px;
}

.influencer-content-container, .press-articles-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 100%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.influencer-content-link, .press-link {

  width: 200px;
  /* height: auto; */
  margin-right: calc(calc(100% - 800px) / 3);


  text-align: center;
  text-decoration: underline;
  text-decoration-color: #555555;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}
 
.influencer-content-link:nth-child(4n), .press-article-link:nth-child(4n) {
  margin-right: 0px;
 }

.influencer-content-image, .publisher-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}