
.campaign-detail-container, .affiliate-disclosure-container {
  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.affiliate-disclosure-container {
  width: 100vw;
  background: rgba(229,17,101, 1);
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.campaign-detail-title, .campaign-detail-section-header {
  width: 100%;
  margin: 0px;
  padding: 3rem 0;
  
  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  font-size: 2rem;
  color: #555555;
  font-weight: bold;
  line-height: 1.4 !important;
  text-align: center;
}

.header-image {
  width: 70%;
  height: auto;
  padding-bottom: 3rem;

  object-fit: contain;
}

#hero-image {
  width: 50%;
}

.campaign-detail-body-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.campaign-detail-section-container {
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#overview-section, #stats-section {
  margin-top: 0px;
  margin-bottom: 0px;
}

.campaign-stats-list {
  padding: 0px;
  list-style-position: inside;
}

.campaign-stat {
  margin-bottom: 1.5rem;
}

.campaign-description, .campaign-stats-list, .influencer-name, .publisher-name, .similar-campaign-title, .affiliate-disclosure-copy {
  color: #555555;
  text-decoration-color: #555555;
  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  line-height: 1.7 !important;
  font-size: 1rem;
  word-wrap: break-word;
}

.affiliate-disclosure-copy {
  color: white;
  font-weight: 700;
  text-align: center;
  word-wrap: normal;
}

#influencer-content-section, #press-section, #similar-campaigns-section {
  width: 100%;
}

#influencer-content-header {
  padding-bottom: 3rem;
}

.influencer-name, .publisher-name, .similar-campaign-title {
  font-size: 1rem;
}

.publisher-name {
  text-align: left;
}

.campaign-video-wrapper {
  padding-top: 2rem;

  overflow: hidden;
}

.horizontal-video {
  height: auto;
  width: 70vw;
  aspect-ratio: 16 / 9;
}

.vertical-video {
  width: auto;
  height: 50vh;
  aspect-ratio: 4 / 5;
}

.campaign-video {

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.influencer-content-container, .press-articles-container, .similar-campaigns-container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: start;
}

.influencer-content-link, .press-link, .similar-campaign-card {

  text-align: center;
  text-decoration: underline;
  text-decoration-color: #555555;
}

.influencer-content-link:nth-child(4n), .press-article-link:nth-child(4n), .similar-campaign-card:nth-child(4n) {
  margin-right: 0px;
 }

.influencer-content-image, .publisher-image, .similar-campaign-image {
  width: 100%;
  max-width: 325px;
  
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


@media only screen and (min-width: 540px) {
  .influencer-content-container, .press-articles-container, .similar-campaigns-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }

}

@media only screen and (min-width: 768px) {

  .campaign-detail-container, .affiliate-disclosure-container {
    padding: 1.5rem 3rem;
  }

  .affiliate-disclosure-container {
    padding: 1rem 3rem;
  }

  .campaign-detail-body-container {
    flex-direction: row;
  }

  .campaign-detail-section-container {
    width: 60%;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #stats-section {
    width: 30%;
  }

  .campaign-detail-section-header {
    text-align: left;
  }

  .influencer-content-container, .press-articles-container, .similar-campaigns-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

@media only screen and (min-width: 1024px) {

  .influencer-content-container, .press-articles-container, .similar-campaigns-container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }

}