.campaign-cards-container {
  width: 100%;

  /* display: flex;
  flex-flow: column wrap; */
  /* justify-content: center;
  align-items: flex-start; */

  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  justify-items: center;
  align-items: start;
}

.campaign-card-container {
  width: 100%;
  max-width: 550px;
  /* padding-bottom: 3rem; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
}

.campaign-card-title {
  width: 100%;
  /* height: 100px; */
  margin: 0px;

  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  color: #555555;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4 !important;
}

.campaign-card-image {
  width: 100%;
  height: auto;
  padding-bottom: 50px;

  object-fit: cover;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

@media only screen and (min-width: 481px) {

  .campaign-cards-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1024px) {

  .campaign-cards-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }

  .campaign-card-container {
    max-width:350px;
  }
}
