.case-study-section-container {
  width: 100%;
  margin-bottom: 25px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-study-section-title {
  width: calc(100% - 15px);
  margin: 0px;
  /* margin-bottom: 25px; */

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #555555;
  text-align: center; 

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.case-study-section-title::before, .case-study-section-title::after {
  content: "";
  display: inline-block;
  background-color: #555555;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

.case-study-section-title::before {
  right: 0.5em;
  margin-left: -50%;
}

.case-study-section-title::after {
  left: 0.5em;
  margin-right: -50%;
}

.case-study-cards-container {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.case-study-card {
  width: 30%;
  padding: 25px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
}

.case-study-card-title {
  width: 100%;
  margin: 0px;
  padding-top: 5px;

  /* font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  text-align: center;
}

.case-study-card-icon {
  font-size: 40px;
  color: rgb(200, 200, 200);
}

/* #social-case-study-card {
  border-right: 1px solid #555555;
}

#experiential-case-study-card {
  border-left: 1px solid #555555;
} */


@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

  .case-study-section-title {
    width: calc(100% - 50px);
    font-size: 20px;
  }

  .case-study-section-title::before, .case-study-section-title::after {
    width: 20%;
  }

  .case-study-card:hover {
    background: black;
  }

  .case-study-card:hover .case-study-card-icon, .case-study-card:hover .case-study-card-title {
    color: white;
  }

}

@media only screen and (min-width: 1024px) {

  .case-study-section-container {
    margin-bottom: 25px;
  }

  .case-study-section-title {
    font-size: 30px;
  }

  .case-study-section-title::before, .case-study-section-title::after {
    width: 30%;
  }

  .case-study-card {
    padding: 50px 0px;
  }

  .case-study-card-title {
    padding-top: 25px;
    font-size: 30px;
  }

  .case-study-card-icon {
    font-size: 75px;
  }

}