/* .case-studies-category-cards-container {
  display: flex;
  flex-flow: column wrap;

  width: 100%;
} */

.case-study-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.case-study-section-title {
  text-align: center; 
  width: 30%;
  margin: 0px;
  margin-bottom: 25px;

  font-size: 18px;
  font-weight: 400;
  color: darkgray;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.case-study-section-title::before, .case-study-section-title::after {
  content: "";
  display: inline-block;
  background-color: darkgray;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.case-study-section-title::before {
  right: 0.5em;
  margin-left: -50%;
}

.case-study-section-title::after {
  left: 0.5em;
  margin-right: -50%;
}

.case-study-cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  margin-bottom: 25px;
}

.case-study-card {
  width: 20%;
  font-size: 36px;
  text-align: center;

  text-decoration: none;
  text-decoration-line: none;

  color: darkgray;
}

.case-study-category-card {
  width: 100%;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;
  text-decoration-line: none;
}

.case-study-category-card-title {
  width: 100%;
  /* height: 100px; */
  margin: 0px;

  font-family: "Benton Sans Bold", "Benton Sans Bold", sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4 !important;
  text-align: center;
}

.case-study-category-card-image {
  width: 96%;
  height: auto;
  padding-bottom: 50px;

  object-fit: contain;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

@media only screen and (min-width: 481px) {

  .case-studies-category-cards-container {
    flex-flow: row wrap;
    /* justify-content: center;
    align-items: flex-start; */
  }

  .case-study-category-card {
    width: 50%;
  }

  .case-study-category-card-title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

  .case-studies-category-cards-container {
    justify-content: space-between;
  }

  .case-study-category-card {
    width: 30%;
  }
}