.clients-carousel-container {
  width: calc(100% + 15px);
  margin-bottom: calc(25px - 20px);

  display: flex;
  flex-flow: row;
  align-items: center;

  overflow: hidden;
}

.carousel-slider-container {
  width: calc(100%);
  height: calc(100px + 4px);
  margin: 0px;
  padding: 10px 0px;

  display: flex;
  flex-wrap: nowrap;

  overflow: hidden;

  touch-action: pan-x;
}

.client-logo-container {
  width: 100px;
  height: 100px;
  margin-right: 10px;

  background: white;
  border-radius: 50%;
  border: solid black 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto; 

  transform: translateX(var(--reference-position));
}

.client-logo {
  width: 90%;
  height: 90%;

  border-radius: 50%;
  border: solid black 1px;

  object-fit: cover;
}

.carousel-button {
  display: none;
}


@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

  .clients-carousel-container {
    width: calc(100%);
  }

  .carousel-slider-container {
    height: calc(150px + 6px);
    padding: 20px 0px;
    touch-action: none;
  }

  .client-logo-container {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border: solid black 3px;
  }

  .client-logo {
    border: solid black 2px;
  }

  .carousel-button {
    width: 50px;
    height: calc(150px + 40px);
    padding: 0px;
    z-index: 2;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: clamp(18px, 3vw, 24px);
    color: #555555;
  
    background: transparent;
    border: none;
    overflow: hidden;
    outline: 0;
    line-height: 0;
  
    cursor: pointer;
  }

  .carousel-button:hover {
    background: rgba(0, 0, 0, 1);
    color: white;
  }

  #left-arrow {
    left: 48px;
    background: linear-gradient(to right, rgba(256, 256, 256, 1), rgba(256, 256, 256, 1), rgba(256, 256, 256, 1), rgba(256, 256, 256, 0));
  }

  #right-arrow {
    right: 48px;
    background: linear-gradient(to left, rgba(256, 256, 256, 1), rgba(256, 256, 256, 1), rgba(256, 256, 256, 1), rgba(256, 256, 256, 0));
  }


}

@media only screen and (min-width: 1024px) {
  .clients-carousel-container {
    margin-bottom: calc(25px - 20px + 25px);
  }

  .carousel-slider-container {
    height: calc(200px + 6px);
  }

  .client-logo-container {
    width: 200px;
    height: 200px;
  }

  .carousel-button {
    height: calc(200px + 6px);
  }

}

@keyframes rightKeyFrames {
  from {
    -webkit-transform: translateX(var(--right-original-position));
    transform: translateX(var(--right-original-position));
  }
  to {
    -webkit-transform: translateX(var(--reference-position));
    transform: translateX(var(--reference-position));
  }
}

@keyframes leftKeyFrames {
  0% {
    -webkit-transform: translateX(var(--left-original-position));
    transform: translateX(var(--left-original-position));
  }
  100% {
    -webkit-transform: translateX(var(--reference-position));
    transform: translateX(var(--reference-position));
  }
}

.left {
  -webkit-animation: leftKeyFrames 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: leftKeyFrames 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.right, .rightAuto {
  -webkit-animation: rightKeyFrames 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rightKeyFrames 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
