.footer-container {
  width: calc(100vw - 50px);
  height: calc(75px - 20px);
  padding: 0px 50px;

  background-color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: helvetica;
  font-size: 16px;
  color: black;

  margin-bottom: 175px;
}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {
  .footer-container {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {

  .footer-container {
    height: calc(100px - 20px);
    margin-bottom: 100px;
  }

}
