.header-container {
  position: fixed;
  top: 0;
  z-index: 5;

  width: calc(100vw - 50px);
  height: calc(75px - 20px);
  padding: 10px 25px;
  background: black;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 55px;
  align-items: center;

  backdrop-filter: blur(10px);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-logo-container {
  text-decoration: none;
  text-decoration-line: none;

  grid-column: 2 / 3;
  justify-self: center;
}

.mobile-navigation-icons-container {
  justify-self: end;
}

.mobile-icon {
  color: white;
  font-size: 25px;
}

.mobile-menu-visible {
  position: fixed;
  top: 75px;
  z-index: 5;
  
  width: calc(100vw);
  height: calc(100vh - 75px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: rgba(229,17,101, 1);
  overflow: hidden;
}

.mobile-nav-link, .mobile-nav-switch, .mobile-case-studies-link {
  width: calc(100vw);
  padding: 10px 25px;
  background: rgba(229,17,101, 1);
  z-index: 5;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
}

.mobile-nav-link:last-child{
  padding-bottom: 0px;
}

.mobile-nav-link:last-child::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  background: rgba(229,17,101, 1);
  height: calc(10vh + 25px);
  width: 100%;

}

.mobile-nav-switch  {
  margin: 0px;
  z-index: 5;
}

.mobile-nav-switch:hover, .mobile-nav-link:hover, .mobile-case-studies-link:hover {
  background: rgba(56, 63, 81, 1);
}

.mobile-nav-switch.toggled-open {
  background: rgba(0,88,146, 1) !important;
}

.mobile-nav-switch.toggled-closed::after, .mobile-nav-switch.toggled-open::after {
  display: inline-block;
  position: relative;
  left: 5px;
  content: '\003C';
  transition: all 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.mobile-nav-switch.toggled-closed::after {
  transform: rotate(90deg);
}

.mobile-nav-switch.toggled-open::after {
  transform: rotate(270deg);
}

.mobile-case-studies-link {
  background: rgba(56, 63, 81, 1);
  z-index: 4;
}

.mobile-case-study-categories-container {
  width: calc(100vw); 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-height: 150px;
  transition: max-height 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.mobile-case-study-categories-container.hidden {
  max-height: 0px;
}

.mobile-nav-link:not(:first-child), .mobile-nav-switch, .mobile-case-studies-link {
  padding-top: 10px;
}

.desktop-nav-links-container {
  display: none;
}


@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

  .header-container {
    width: calc(100vw - 25px);
    height: calc(100px - 20px);
    padding-right: 0px;

    grid-template-columns: auto 1fr;
    grid-template-rows: 80px;
  }

  .header-logo-container {
    grid-column: 1 / 2;
    justify-self: start;
  }

  .desktop-nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    grid-column: 3;
    justify-self: end;
  }

  .desktop-case-study-categories-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: calc(100px);
    background: #383f51;

    max-width: 375px;
    transition: max-width 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

  .desktop-case-study-categories-container.hidden {
    max-width: 0px;
  }

  .desktop-nav-link, .desktop-nav-switch, .desktop-case-studies-link {
    height: calc(100px);
    padding: 0px 25px;
    z-index: 5;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    /* margin: 0px 25px; */
  
    text-decoration: none;
    text-decoration-line: none;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .desktop-nav-link {
    background: black;
  }

  .desktop-case-studies-link {
    z-index: 3;
  }

  .desktop-nav-link:hover, .desktop-nav-switch:hover, .desktop-case-studies-link:hover {
    background: rgba(229,17,101, 1);
  }

  .desktop-nav-switch.toggled-open{
    background: rgba(0,88,146, 1) !important;
  }

  .desktop-nav-switch.toggled-closed::after, .desktop-nav-switch.toggled-open::after {
    display: inline-block;
    position: relative;
    left: 5px;
    content: '\003C';
    transition: all 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
  
  .desktop-nav-switch.toggled-closed::after {
    transform: rotate(90deg);
  }
  
  .desktop-nav-switch.toggled-open::after {
    transform: rotate(180deg);
  }

  .desktop-nav-link:last-child {
    /* margin-right: 0px; */
    /* padding-right: 0px; */
  }

  .mobile-navigation-icons-container {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}

.slide-in-top-header {
    -webkit-animation: slide-in-top 0.5s ease-out both;
            animation: slide-in-top 0.5s ease-out both;
}

@-webkit-keyframes slide-in-top-header {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top-header {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

 @-webkit-keyframes flip-open {
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@keyframes flip-open {
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}


.mobile-menu-hidden, .false {
  display: none;
}

.hidden {
  z-index: -2;
}
