.home-container {
  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {
  .home-container {
    padding: 1.5rem 3rem;
  }
}

@media only screen and (min-width: 1024px) {

}
