.icon-logo-container {

  display: flex;
  flex-direction: row;
  align-items: center;

  transform: scale(0.6);
}

.icon-logo {
  height: 70px;
}

.icon-text {
  display: none;
}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {
  .icon-logo-container {
    /* transform-origin: right; */
  }

  .icon-text {
    display: inline-block;
  }
}

@media only screen and (min-width: 1024px) {
  .icon-text {
    display: none;
  }
}

@media only screen and (min-width: 1240px) {
  .icon-logo-container {
    transform: scale(0.9);
  }
  
  .icon-text {
    display: inline-block;
  }
}