.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.body-container {
    width: 100%;
    min-height: calc(100vh - 75px);
    margin-bottom: 125px;


    position: relative;
    top: 75px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.body-container:last-child {
  margin-bottom: 125px;
}


@media only screen and (min-width: 481px) {

}
  
@media only screen and (min-width: 768px) {
  .body-container {
    /* min-height: calc(100vh - 100px); */
  }
}
  
@media only screen and (min-width: 1024px) {
  .body-container {
    min-height: calc(100vh - 100px);
    max-width: 1200px;
    top: 100px;
  }
}
