.select-influencer-content-container {
  width: 100%;
  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: start;
  gap: 1.5rem;
}

.influencer-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.influencer-post-container:nth-child(n + 6) {
  display: none;
}

.influencer-post {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;

}

@media only screen and (min-width: 481px) {
  .select-influencer-content-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .influencer-post-container:nth-child(n + 6) {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .select-influencer-content-container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  .select-influencer-content-container {
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
  }
}
